@model takipAppAPI.Dtos.SeferEkleModel
@{
    ViewData["Title"] = "SeferEkle";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>SeferEkle</h1>

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<h1>ArsaEkle</h1>



<form asp-action="SeferEkle" asp-controller="Bus" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Hat Kodu:</label>
        <span asp-validation-for="@Model.TypeOfBus" class="text-danger"></span>
        <input asp-for="@Model.TypeOfBus" />

    </div>





    <div class="form-group">
        <label>Başlangıç Konumu</label>
        <span asp-validation-for="@Model.firstLocation" class="text-danger"></span>
        <input asp-for="@Model.firstLocation" />
    </div>

    

    <div class="form-group">
        <label>Varış Konumu</label>
        <span asp-validation-for="@Model.DropOffLocation" class="text-danger"></span>
        <input asp-for="@Model.DropOffLocation" />
    </div>
    <div class="form-group">
        <label>Sefer Saati</label>
        <span asp-validation-for="@Model.Hour" class="text-danger"></span>
        <input asp-for="@Model.Hour" />
    </div>
   





    


    <div class="form-group">
        <button type="submit"> Ekle </button>
    </div>
</form>